h1, p {
    text-align: center;
    text-decoration: underline;
}

.flex{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.bg-move{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(
        100deg,
        orange,
        rgb(254, 202, 107),
        rgb(218, 143, 5),
        rgb(249, 178, 45)
        
    );
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h3{
    border: 2px solid rgb(103, 25, 219);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.cursor1, .cursor2, .cursor3{
    cursor: pointer;
}